{#
/**
 * @file election_candidate.html.twig
 * Default theme implementation to present Election candidate data.
 *
 * This template is used when viewing Election candidate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_election_candidate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('election_candidate') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
